<form>
	<div class="row">
		<div class="col-sm-6 nopadding">
			<input type="text" class="form-control" placeholder="First name">
		</div>
		<div class="col-sm-6 nopadding">
    		<input type="text" class="form-control" placeholder="Email">
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 nopadding">
			<input type="text" class="form-control" placeholder="Subject">
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 nopadding">
			<textarea type="text" class="form-control" placeholder="Message"></textarea> 
		</div>
	</div>
</form>