<div class="login-bg">
	<div class="container center small">
		<h1>Login</h1>
		<form>
			<!-- <div class="row">
				<div class="col-sm-6">
					<input type="text" class="form-control" placeholder="First name">
				</div>
				<div class="col-sm-6">
		    		<input type="text" class="form-control" placeholder="Last name">
				</div>
			</div>
			<br/> -->
			<div class="row">
				<div class="col-sm-12">
					<input type="text" class="form-control" placeholder="Subject">
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<input type="text" class="form-control" placeholder="Message">
				</div>
			</div>
		</form>
	</div>
</div>