<div class="affix">
	<div class="list-group" id="list-tab" role="tablist">
		<div class="profile-info">
			<h4>Welcome</h4>
			<img src="/assets/images/user.png" alt="profile-img">
			<p>{{ user }}</p>
		</div>
		<a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
			<img class="icon" src="/assets/images/icons/home-8x.png">&nbsp;&nbsp;Home<img class="icon-chevron-right" src="/assets/images/icons/chevron-right-8x.png">
		</a>
		<a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
			<img class="icon" src="/assets/images/icons/chat-8x.png">&nbsp;&nbsp;Messages<img class="icon-chevron-right" src="/assets/images/icons/chevron-right-8x.png">
		</a>
		<a class="list-group-item list-group-item-action" id="list-account-list" data-toggle="list" href="#list-account" role="tab" aria-controls="account">
			<img class="icon" src="/assets/images/icons/wrench-8x.png">&nbsp;&nbsp;Account<img class="icon-chevron-right" src="/assets/images/icons/chevron-right-8x.png">
		</a>
		<a class="list-group-item list-group-item-action last" routerLink="/logout">
			<img class="icon" src="/assets/images/icons/account-logout-8x.png">&nbsp;&nbsp;Log Out
		</a>
	</div>
</div>