@import '~sass/variables'
@import '~sass/mixins'

.search-detail
	padding-top: 100px
	h1
		color: $primary

.comment-section
	margin-top: 50px

.blockquote-footer
	font-family: 'Raleway', sans-serif
	font-size: .3em

.card.body
	padding: 15px 0 0 15px

.full-bg
	// background-image: url('/assets/images/parallel-bg-light.jpg')
	// background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #d1d1d1 100%)
	@include full-bg
	min-height: 100vh