<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button mat-button routerLink='/dashboard'><img src="/assets/images/parallel-icon.png" width="30" height="30" class="d-inline-block align-middle" alt=""><span class="brand">&nbsp;Parallel Dashboard 2.0</span></button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  	
    <ul class="navbar-nav mr-auto dashboard-material-nav">     	
      
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Help</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li> -->
    </ul>
    <search [passedQuery]='query'></search>
  </div>
</nav>