<app-dashboard-topnav></app-dashboard-topnav>

<div class="container-fluid">
	<div class="row">
		<nav class="col-sm-12 col-md-3 nopadding sidebar">
			<br/>
			<app-dashboard-sidenav></app-dashboard-sidenav>
		</nav>
		<main class="col-sm-12 col-md-9">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
					<app-portal-list></app-portal-list>
				</div>
				<div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
					<app-message-list></app-message-list>					
				</div>
				<div class="tab-pane fade" id="list-account" role="tabpanel" aria-labelledby="list-account-list">
					<app-account></app-account>
				</div>
			</div>
		</main>
	</div>
</div>