<div class="bg-1 parallax"></div>
<div class="bg-2 parallax"></div>
<div class="txt-1">
	<p>THE APP THAT ALLOWS YOU TO VIEW 3D MODELS IN AUGMENTED AND VIRTUAL REALITY</p>
	<div class="app-store-btns">
		<div class="container small">
			<div class="row">
				<div class="col-sm-6">
					<img src="/assets/images/app-store.png" alt="app-store">
				</div>
				<div class="col-sm-6">
					<img src="/assets/images/play-store.png" alt="play-store">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallel-strip-1">
	<div class="container-fluid">
		<div class="row text-center cover-card">

			<div class="col-sm-4 nopadding">
				<div class="flip-card">
					
					<div class="card back">
						<h4>Handheld</h4>
						<p>Touch inputs are programmed to the remote specifications allowing the user to maneuver through the model with ease.</p>
					</div>
					<div class="card front handheld">
						<p>HANDHELD</p>
					</div>

				</div>
			</div>
			<div class="col-sm-4 nopadding">
				<div class="flip-card">
					<div class="card back">
						<p>VR Headset</p>
						<p>Easy-to-assemble headset envelops the user’s device and is designed to fit comfortably over most eyeglasses.</p>
					</div>
					<div class="card front vr-headset">
						<p>VR HEADSET</p>
					</div>
					
				</div>
			</div>
			<div class="col-sm-4 nopadding">
				<div class="flip-card">
					<div class="card back">
						<p>Get an in person view of your model wherever you go</p>
					</div>
					<div class="card front first-person">
						<p>FIRST PERSON</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="present-ar-vr">
	<div class="container center ">
		<div class="row">
			<div class="col-sm-8">
				<hr/>
				<h1>PRESENT MODELS IN AUGMENTED & VIRTUAL REALITY</h1>
				<hr/>
				<p>
					<span style="font-weight: 900">Augmented Reality (AR)</span> is the use of computer generated images 
					or data to modify the real world. AR uses the existing environment 
					and overlays new information on top of it.
				</p>
				<p>
					<span style="font-weight: 900">Virtual Reality (VR)</span> is the use of computer technologies to create 
					a simulated world. Users are immersed within the built environment 
					and able to move about the 3D models.
				</p>
				<br/>
				<button mat-raised-button style="color: #fff">View More</button>
			</div>
		</div>	
	</div>
</div>

<div class="parallel-strip-2">
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-sm-4 nopadding" style="height: 300px;">
				<div class="banner-card center">
					<img src="/assets/images/screenshot.png">
					<h3>SCREENSHOT</h3>
					<p>Press and control device to capture quality screenshots which save directly to the user’s gallery.</p>
				</div>
			</div>
			<div class="col-sm-4 nopadding" style="height: 300px;">
				<div class="banner-card center">
					<img src="/assets/images/vr.png">
					<h3>VR CAMERA</h3>
					<p>Enables VR camera, converting to an interactive 3D environment you can explore with a remote.</p>
				</div>
			</div>
			<div class="col-sm-4 nopadding" style="height: 300px;">
				<div class="banner-card center">
					<img src="/assets/images/user-icon.png">
					<h3>PROJECTS</h3>
					<p>Load your saved project dynamically and explore your new design augmented and in real time.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="experience-design">
	<div class="container text-right">
		<div class="row">
			<div class="col-sm-4" style="height: 650px;">
				<div class="center-2">
					<img src="/assets/images/pixel.png" alt="pixel" />
				</div>
			</div>
			<div class="col-sm-8" style="height: 650px;">
				<div class="center-2">
					<hr/>
					<h3>EXPERIENCE DESIGN AT SCALE</h3>
					<hr/>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class="contact-section">
	<div class="row cover-contact">
		<div class="container center">
			<div class="col-sm-5">
				<hr/>
				<h2>GET IN TOUCH</h2>
				<hr/>
				<h4>we know you're curious</h4>
				<p>
					We can give you a quote on your next project.<br/>
					Simply send us your Sketchup file and we'll get to work.
				</p>
			</div>
			<div class="col-sm-7">
				<br/>
				<app-contact-form></app-contact-form>
			</div>
		</div>
	</div>
</div>