<div class="bg-1 parallax"></div>
<div class="bg-2 parallax"></div>
<div class="banner">
	<div class="row text-center">
		<div class="col-sm-4">
			<div class="flip-card">
				<div class="card">
					<p>HANDHELD</p>
				</div>
				<div class="card back"></div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="flip-card">
				<div class="card">
					<p>VR HEADSET</p>
				</div>
				<div class="card back"></div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="flip-card">
				<div class="card">
					<p>FIRST PERSON</p>
				</div>
				<div class="card back"></div>
			</div>
		</div>
	</div>
<div class="container present-ar-vr">
	<div class="row">
		<div class="col-sm-8">
			<hr/>
			<h1>PRESENT MODELS IN AUGMENTED & VIRTUAL REALITY</h1>
			<hr/>
			<h3>Augmented Reality (AR) is the use of computer generated images or data to modify the real world. AR uses the existing environment and overlays new information on top of it.</h3>
			<h3>Virtual Reality (VR) is the use of computer technologies to create a simulated world. Users are immersed within the built environment and able to move about the 3D models.</h3>
			<button mat-raised-button color="primary">View More</button>
		</div>
		<div class="col-sm-4"></div>
	</div>	
</div>
<div class="banner">
	<div class="row text-center">
		<div class="col-sm-4">
			<div class="banner-card">
				<img src="">
				<h3>SCREENSHOT</h3>
				<p>Press and control device to capture quality screenshots which save directly to the user’s gallery.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="banner-card">
				<img src="">
				<h3>VR CAMERA</h3>
				<p>Enables VR camera, converting to an interactive 3D environment you can explore with a remote.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="banner-card">
				<img src="">
				<h3>PROJECTS</h3>
				<p>Load your saved project dynamically and explore your new design augmented and in real time.</p>
			</div>
		</div>
	</div>
</div>
<div class="container experience-design text-right">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-8">
			<hr/>
			<h1>EXPERIENCE DESIGN AT SCALE</h1>
			<hr/>
			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</h3>
			<button mat-raised-button color="primary">View More</button>
		</div>
	</div>	
</div>
<div class="contai">