@import '~sass/variables'
@import '~sass/mixins'

.center
	@include center

.center-2
	position: relative
	top: 50%
	transform: translate(0, -50%)

.center-form
	position: relative
	top: 50%
	transform: translate(0, -50%)

.mat-button, .mat-raised-button
    background-color: $primary
    letter-spacing: 1.5px
    text-transform: uppercase
    font-family: Montserrat
    font-size: .8em

.bg-1
	padding-top: 100px
	background-image: url('/assets/images/parallel-bg.jpg')

.bg-2
	background-image: url('/assets/images/parallel-bg-1.png')
	opacity: .3
	background-attachment: fixed
	background-repeat: none
	position: absolute

.txt-1
	p
		color: #b7b7b7
		font-size: .8em
		font-weight: 600
		letter-spacing: 2.5px
		text-align: center
		position: absolute
		top: 55%
		left: 50%
		transform: translate(-50%, -55%)
	.app-store-btns
		position: absolute
		height: 50px
		width: 100%
		top: 65%
		.small
			width: 25%
			img
				height: 50px


.parallax
	min-height: 100vh
	width: 100%
	top: 0
	background-position: 50% 0px
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	

.lower-center
	height: 100%
	width: 50%
	position: relative
	bottom: 25%
	left: 50%
	transform: translate(-50%, 0)

// .flip-card:hover
// 	transform: rotateY(180deg)

.handheld
	background: url('/assets/images/handheld.jpg')

.vr-headset
	background: url('/assets/images/vr-headset.jpg')

.first-person
	background: url('/assets/images/first-person.png')

.handheld, .vr-headset, .first-person
	@include full-bg

// .card .back
// 	background: #000
// 	transform: rotateY(180deg)

.parallel-strip-1
	.cover-card
		background: #fff
		opacity: .7
		height: 100%
		.flip-card
			font-size: 1.25em
			height: 200px
			font-weight: 900
			position: relative
			.card
				width: 100%
				height: 100%
				overflow: hidden
				backface-visibility: hidden
				border-radius: 0
				p
					color: #fff
					position: relative
					text-align: center
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					letter-spacing: 2px
					font-size: 1.25em
			.front
				transition: transform .5s linear
				position: absolute
			.back
				background: #333
				position: absolute
				h4
					color: #fff
				p
					color: #fff
					font-size: .8em
					font-family: 'Raleway'
		.flip-card:hover
			.front
				transform: rotateX(180deg)


.present-ar-vr
	position: relative
	height: 750px
	background: url('/assets/images/simple.jpg') no-repeat center center fixed
	background-size: cover
	hr
		background: #333
	h2
		color: #555
		font-size: 1.75em
		padding: 10px 0
	p
		padding-top: 10px
		font-family: 'Raleway', sans-serif
		font-weight: 900
		color: #555
		span
			font-family: 'Montserrat', sans-serif

.parallel-strip-2-bg
	background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, #d1d1d1 100%)

.parallel-strip-2
	position: relative
	height: 350px
	background: rgba(255, 255, 255, 0.22)
	background: url('/assets/images/parallel-bg-1.png') no-repeat center center fixed
	background-size: cover
	img
		height: 75px
		margin: 25px 0
	h3
		letter-spacing: 8px
		font-weight: 100
		font-size: 1.25em
	p
		font-family: 'Raleway', sans-serif
		font-size: .8em
		font-weight: 900
		color: #777

.banner-card
	position: absolute
	top: 50%

.experience-design
	height: 750px
	position: relative
	background: #F8F8F8
	h3
		letter-spacing: 2px
		padding: 10px 0
	p
		font-family: 'Raleway', sans-serif
		padding: 0 0 0 25px
		font-weight: 900
		color: #777
	hr
		background: #333

.contact-section
	position: relative
	height: 600px
	background: url('/assets/images/contact.jpg') no-repeat center center fixed
	background-size: cover
	color: #fff
	hr
		background: #fff
	h2, h4, p
		color: #fff
	h4
		font-family: 'Raleway', sans-serif
		padding: 10px 0
	p
		line-height: 1.5
		font-family: 'Raleway', sans-serif









