<div class="container smallscreen">
	<h2><img src="/assets/images/icons/person-8x.png">&nbsp;&nbsp;{{title}}</h2>
	<div class="row">
		<div class="col-sm-12">
			<div class="card profile">
			  <div class="card-body">
			    <h4 class="card-title">First Last</h4>
    			<h6 class="card-subtitle mb-2 text-muted">Username</h6>
    			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-6">
			<div class="card info">
				<div class="card-body">
			    	<h4 class="card-title">Account Details</h4>
    				<h6 class="card-subtitle mb-2 text-muted">Edit Info</h6>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card info">
				<div class="card-body">
			    	<h4 class="card-title">Added Features</h4>
    				<h6 class="card-subtitle mb-2 text-muted">Learn More</h6>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
	</div>
</div>
